<div class="login-wrapper">
  <div class="login-left d-none d-sm-flex">
    <img class="login-img" src="../../../assets/images/register.jpg">
  </div>
  <div class="login-right">
    <img class="login-logo" src="../../../assets/images/logo.jpg">
    <h4>Register & Read</h4>
    <div class="form-wrapper">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="button-group">
          <a [routerLink]="['/login']" routerLinkActive="active" class="btn btn-dark">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
